.input1{
    background-color: rgb(30, 252, 1);
}
.input2{
    background-color: crimson;
}
.input3{
    background-color: deeppink;
}
.input4{
    background-color: rgb(238, 255, 0);
}
.input5{
    background-color: rgb(124, 124, 124);
}
.input6{
    background-color: rgb(0, 225, 255);
}