ul{
    background-color: rgb(2, 86, 126);
    list-style-type:none;
    border-radius: 20px;
    padding: 10px;
    margin: 0px;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display: inline-block;
    color: rgb(243, 193, 66);
    text-align: center;
    padding:15px 20px;
    text-decoration: none;
}
li a:hover{
    color: rgb(56, 241, 0);
    background-color: rgb(2, 65, 94);
    border-radius: 15px;
}
.nav-end{
    float: right;
}
.active-link{
    color: rgb(56, 241, 0);
    background-color: rgb(2, 65, 94);
    border-radius: 15px;
}